@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inspiration&family=Neuton:wght@300&display=swap');

* {
    box-sizing: border-box;
    background-color: aliceblue;
}
body {
    font-family: neuton;
    font-size: large;
}
div.column{
    float: left;
    text-align: center;
    width: 33.3%;
}
img.header-image {
    width: 325px;
    display: flex;
    justify-content: center;
    align-items: center;
}
li {
    list-style: none;
    font-size: larger;
    font-weight: bolder;
}
a:link, a:visited { 
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: #007399
}
a:hover, a:active {
    color: #007399;
    text-shadow: 20px;
  }
a.fa-brands {
    font-size: 30px;
    column-width: 25 px;
    color: #007399;
    text-decoration: none;
    background-color: transparent;
}
main {
    clear: both;
    padding: 80px;
}
p{
    font-size: 25px;
}
div.mainpage-pics{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
}
img.main-page{
    width: 300px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
footer{
    left: 0;
    bottom: 0;
    width: 100%;
    height: max-content;
    background-color:#007399;
    color: white;
    text-align: center;
}
p.photo-des{
    text-align: center;
}
